/* GENERAL APP STYLES */

:root { /*TODO: Define the color palette for the app */
  --primary-color: #FFFFFF;
  --primary-color-alt: #FFFFFF;
  --secondary-color: #FFFFFF;
  --secondary-color-alt: #FFFFFF;
}

/* User notifications (Errors, warnings, success, ... */
:root {
  --error-color: #ff5353;
  --warning-color: #e8d462;
  --success-color: #a3e05c;
}